#outer{
    height: 306px;
    width: 306px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}

.inner {
    height: 100px;
    width: 100px;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}
h1{
    text-align: center;
    font-size: 2rem;
}

#btn{
    margin: 0 auto;
    /* border: 1px solid red; */
    width: 100px;
}
#reset{
    /* text-align: center; */
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: maroon;
    outline: none;
    color: white;

}
#reset:hover{

    background-color: rgb(207, 44, 44);


}